.logo-container {
  position: absolute; /* or 'fixed' if you want it to stay in place on scroll */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--logo-container-width, 50%);
  perspective: 1200px;
  transition: width 0.5s ease;
}

#logo {
  filter: drop-shadow(3px 3px 3px rgba(228, 223, 223, 0.5));
}
