<button *ngIf="isSmallScreen" mat-button (click)="onToggleSidenav()">
  <mat-icon>menu</mat-icon>
</button>

<div *ngIf="!isSmallScreen" class="container">
  <!-- Binden Sie jede Gruppe -->
  <div class="group" *ngFor="let group of groups">
    <!-- Binden Sie jedes Element innerhalb der Gruppe -->
    <button  *ngFor="let item of group" mat-stroked-button [routerLink]="item.route">{{ item.displayname }}</button>
  </div>
</div>

<button class="button" mat-icon-button (click)="toggleTheme()">
  <mat-icon>{{ darkMode ? 'wb_sunny' : 'nights_stay' }}</mat-icon>
</button>



