
$group-gap: 50px;
$side-margin: 15%;

.container {
    display: flex;
    justify-content: space-between; // Dies sorgt für den maximalen Abstand zwischen den Gruppen
    width: 100%; // Container nimmt die volle Breite des Bildschirms ein

    .group {
        display: flex;
        gap: $group-gap; // Abstand zwischen den Elementen innerhalb einer Gruppe

        &:first-child {
            margin-left: $side-margin; // 20% Abstand vom linken Rand
        }
        &:last-child {
          margin-right: $side-margin; // 20% Abstand vom rechten Rand
      }

        // Die margin-right Regel für die letzte Gruppe entfernen
    }

}

.button {
  margin-right: 40px; /* Setze die Margins auf 0, um sicherzustellen, dass sie den Container nicht verschieben */  
}
.mat-slide-toggle {
  margin: 8px 0;
  display: block;
}