@use '@angular/material' as mat;



@include mat.core();

body {
  /* Existing styles */
  background-color: var(--surfaceContainer);
  color: var(--onSurface);
  position: relative; /* Needed for pseudo-element positioning */
  height: 100%; /* Full viewport height */
  overflow: hidden; /* Prevents scrolling if overlay is larger than the viewport */
  margin: 0;
  }

button {
  background-color: var(--primary);
  color: var(--onSurface);
}
button:hover {
  background-color: var(--secondaryContainer);
  color: var(--onSecondary);
}
